body{
  margin: 0 auto;
  text-align: center;
}

button {
  text-align: block;
}

#title {
  font: normal 300% 'century gothic', arial;
  color: blue;
  margin: 10px;
}

#grid{
  border: 2px solid blue;
  margin: 10px;
}